.bg {
    background: url('../../Images/BG.webp') no-repeat;
    background-size: cover;  
  }

div .transbox > form{
  background: rgba(0,0,0,0.5);
  border: none;
}

div .transbox > form > h1,label{
  color: white;
}

div .transbox > form > div > button{
  float: right;
}